<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ScheduleConfig" type="QuartzDynamicJob.Configuration.ScheduleConfiguration, QuartzDynamicJob, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <ScheduleConfig timeout="15000" logpath="C:/" description="kokopkop">
    <jobs>
      <add jobName="QuartzDynamicJob.Jobs.Job1" run="false" cronexpression="0/5 * * * * ?" desciption="kop"/>
      <add jobName="QuartzDynamicJob.Jobs.Job2" run="true" cronexpression="0/5 * * * * ?" desciption="kop"/>
      <add jobName="QuartzDynamicJob.Jobs.Job3" run="true" cronexpression="0/5 * * * * ?" desciption="kop"/>

     
    </jobs>
  </ScheduleConfig>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
